[Unit]
Description=TripleA Bot %i
Documentation=https://github.com/triplea-game/lobby/blob/master/README.md

[Service]
Environment="PORT=400%i"
WorkingDirectory=BOT_DIR
User=triplea
ExecStart=BOT_DIR/run_bot $PORT %i
Restart=always

[Install]
WantedBy=multi-user.target
