[Unit]
Description=TripleA Bot %i
Documentation=https://github.com/triplea-game/lobby/blob/master/README.md

[Service]
Environment=
WorkingDirectory=BOT_DIR
User=triplea
ExecStart=BOT_DIR/run_bot 40%i %i BOT_NAME LOBBY_HOST LOBBY_PORT
Restart=always

[Install]
WantedBy=multi-user.target
